<!DOCTYPE HTML>
<html>
<body>
<div class="container">

    <form action="/members/new" method="post">
        <!--등록 버튼 누르면 action에 post방식으로 넘어감(memberController/@PostMapping)-->
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요">
            <!--type: input type, name: server에 넘어올 때 key, placeholder: 아무것도 없을 때-->
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>